@import "tailwindcss";
@import "./responsive.css";
@import "./styles/embla.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-inika);
  --font-sans: var(--font-source-sans-3);
  --color-bg: #fff;
  --color-primary: #3e3e3e;
  --color-primary-darker: #1D1D1D;
  --color-accent: #FFE100;
  --color-accent-hl: #FFEA4B;
  --color-accent-2: #A7ECFF;
  --color-accent-red: #FF4800;
  --color-accent-green: #008729;
  --color-accent-red: #FF1D15;
  --color-accent-2-hl: #A7ECFFCC;
  --color-accent-2-darker: #00A6D3;
  --color-accent-2-darker-hl: #00A6D3CC;
  --color-gray-mid: #959595;
  --color-gray-light: #F3F3F3;
  --color-gray-light-hover: #EAEAEACC;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Source Sans 3, Arial, Helvetica, sans-serif;
}
button {
  @apply cursor-pointer
}


.header-nav-link {
  @apply bg-accent p-1.5 text-primary font-bold border-b-3 border-primary h-9
}
