@import "tailwindcss";
@import "./responsive.css";
@import "./styles/embla.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-inika);
  --font-sans: var(--font-source-sans-3);
  --color-bg: #fff;
  --color-primary: #3e3e3e;
  --color-primary-darker: #1D1D1D;
  --color-accent: #FFE100;
  --color-accent-hl: #FFEA4B;
  --color-accent-2: #A7ECFF;
  --color-accent-red: #FF4800;
  --color-accent-green: #008729;
  --color-accent-red: #FF1D15;
  --color-accent-2-hl: #A7ECFFCC;
  --color-accent-2-darker: #00A6D3;
  --color-accent-2-darker-hl: #00A6D3CC;
  --color-gray-mid: #959595;
  --color-gray-passive: #7E7E7E;
  --color-gray-active: var(--color-primary);
  --color-gray-light: #F3F3F3;
  --color-gray-light-hover: #F6F6F6;
  --color-red-warning: #FF3815;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Source Sans 3, Arial, Helvetica, sans-serif;
}

button {
  @apply cursor-pointer
}

.btn__accent {
  @apply bg-accent hover:bg-accent-hl
}

.btn__secondary {
  @apply bg-gray-light hover:bg-gray-light-hover
}

.header-nav-link {
  @apply px-2 flex font-serif items-center text-gray-light font-semibold text-center hover:scale-105 hover:text-white transition-transform duration-150
}

.category-filter-btn {
  --_bg: var(--bg, --color-bg);
  --_borderColor: var(--borderColor, --color-gray-passive);
  background-color: var(--_bg);
  display: flex;
  gap: 1rem;
  align-items: center;
  border: solid 1px var(--_borderColor);
  border-radius: 16px;
  padding-left: 8px;
  height: 32px;
  transition: background-color 0.1s;
  color: var(--_borderColor);
}

.category-filter-btn__filled {
  --bg: var(--color-accent-2);
  --borderColor: var(--color-accent-2);

  &:hover,
  &:focus {
    --bg: var(--color-accent-2-hl);
    --borderColor: var(--color-accent-2-hl);
  }
}

.category-filter-btn__empty {
  --borderColor: var(--color-gray-passive);

  &:hover,
  &:focus {
    --bg: var(--color-gray-light-hover);
    --borderColor: var(--color-gray-active);
  }
}
